<div class= "container-fluid d-none d-md-block" >
	<div class="d-flex flex-row justify-content-end align-items-start">
		<!-- {% if page.title == "About" %} -->
		<!-- <img id="sidebar-pic" src="assets/img-bg/{{page.permalink}}{{page.img-bg}}" alt=""> -->
		<!-- {% endif %} -->
<!-- 		{% for page in site.pages %}
	 	<h1>{{page.title}}</h1>
	 	{% endfor %} -->
		
<!-- 		{% if page.title == "Home" %}
		<img id="sidebar-pic" src="assets/img-bg/girl.jpg" alt="">
		{% endif %} -->
		<img id="sidebar-pic" src="assets/img-bg/{{page.img-bg}}" alt="">
		<!-- <img id="sidebar-pic" src="{{site.baseurl}}/{{page.img-bg}}" alt=""> -->
	</div>
</div>