
		<div class="col-md-7 bg-light mb-0 pt-0 mt-0 pb-0 mb-0 rounded" >		
		<!-- <H1>Zizhun GUO</H1> -->
			<hr>
			<h1 style = "margin:1.5rem"><b>Good Day &#127774</b></h6>
			<div class=" bg-light card"style="width: 100rem;"> 	
			<!-- <div class=" bg-light card"> 	 -->
				<div class="card-body">			
					{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
					{% for year in postsByYear %}
						<h1>{{ year.name }}</h1>
						{% for post in year.items %}
							{% if post.visible == 1  %}
							<time datetime="{{ post.date | date: "%m-%d-%Y" }}">
								{{ post.date | date_to_string }}
							</time>
							<h4 class="card-title text-left"><a href="{{ post.url }}" class="btn btn-light p-0">{{post.title}}</a></h5>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div >
		<div class="col-md-2 bg-light d-none d-xl-block m-0 p-0 pt-5 mt-5" style = "margin: 0px 0px 0px 0px">
			<img src="assets/touxiang4.jpg" alt="" class= "thumbnail">
			<br>
			<br>
			<br>
			<h4 style="text-align: center"><b>Zizhun Guo</b></h4>	
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Rochester Institute of Technology</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >M.S. Computer Science</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Expected May 2021</h6>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >____________________</h6>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >zizhunguo@gmail.com</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Rochester, NY 14623</h5>

			<div class="bg-light card mt-0 pt-0">
				<div class="card-body mt-0 pt-0">
			<h7 class="card-title">
			<br>
			<a href="https://github.com/zizhGuo" class="btn btn-primary p-0">GitHub</a>
			<a href="https://www.linkedin.com/in/zizhguo/" class="btn btn-primary p-0">LinkedIn</a>
			<a href="https://www.instagram.com/zizhguo_/" class="btn btn-primary p-0">Instagram</a>
			<!-- <a href="https://1drv.ms/w/s!AhW5YMv5xK86wFEuGOvBY1Q3ZQ9B?e=mDd4un" class="btn btn-light p-0">Database Class Notes</a></h1>	 -->
			</h7>
			<br>
			</div>
			</div>
			<a href="https://rit.edu"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Rochester_Institute_of_Technology_seal.svg/1200px-Rochester_Institute_of_Technology_seal.svg.png" height="100" width="100"></a>
			<a href="https://www.rit.edu/computing/department-computer-science"><img src="https://www.cs.rit.edu/usr/local/pub/CS_Logos/CS_Logo_CMYK_72dpi.jpg" height="100" width="200"></a>
			<hr>			
		</div>
