
		<div class="col-md-7 bg-light mb-0 pt-0 mt-0 pb-0 mb-0 rounded" >		
		<!-- <H1>Zizhun GUO</H1> -->

		<h6 style = "margin:1.5rem">To anyone who magically step into my website: </h6>
		<h6 style = "margin:1.5rem">"    Greeting! Welcome! "</h6>
		<h6 style = "margin:1.5rem">
			"    My name is Zizhun GUO. I'm currently a master's student studying Computer Science at Rochester Institute of Technology."</h6>

		<h6 style = "margin:1.5rem">
		"    As I used be a Game design & development student, I have been in US nearly four years. After I earned a master degree from GDD, I decided to further pursue Computer Science field, since I am craving for the professional and technical knowledge from this more challenging major. "</h6>

		<h6 style = "margin:1.5rem">"    People who know me best say that I am frank and open-minded person. I like traveling to places where I can talk to strangers and observe local cultures and conventions. I also like reading books especially essays  to gain more experiences and thoughts which give me insperiation that could help me improve myself. "</h6>

		<h6 style = "margin:1.5rem">"    Speaking to my professions, I like doing summaries once in a while with feedback to anaylyze the stage of progress. I like asking myself why I am doing this, how I am going to solve this, what the point is and as well from professors for more professional opinions. "</h6>
		<hr>
		<h6 style = "margin:1.5rem">[Updates]</h6>
		<h6 style = "margin:1.5rem"><b>2020.1.13</b> - Course: Big Data Analytics. Professor: Thomas Kinsman. This is the advanced course for <b>Data Mining</b>. It includes topics as of all most often popular clustering, classification algorithms. It requires using Python to do projects. </h6>
		<h6 style = "margin:1.5rem"><b>2020.1.13</b> - Course: Web Services & Services Oriented Computation. Professor: Xumin Liu. This course requires us use <b>Web Services</b> API to write mashup web app, create our own API, combining MongoDB and do Data Mining. Survey paper is required. This is gonna be fun, for this course is solid for web development.</h6>
		<h6 style = "margin:1.5rem"><b>Spring Semester</b> - This is my last second semester. I have only two courses left, which will be taken this semester. I have only one capstone project left, which would be performed in the last semester. <b>I'm will be graduated in 2020 winter if the date has to be earliest.</b></h6>
		<h6 style = "margin:1.5rem"><b>2020.1.1</b> - Happy New Year! I took a three-day trip to Washington DC on my own, and I have met a lot of people and made friends with them. <a href="assets/me/DC.JPG">See picture in hostel</a></h6>
		<h6 style = "margin:1.5rem"><b>Winter break</b> - I'm re-developing my personal website for making it more concise and condense, so it becomes more efficient to update & show my info.</h6>
<!-- 		<h6 style = "margin:1.5rem">Winter break - Initiated a project utilizing the backend's techniques to create a dynamic website to enhance the understanding of database and make something fun using database: mySQL, couchDB.</h6> -->
		<h6 style = "margin:1.5rem"><b>2019.12.23</b> - I've currently finished a course - <b>Database System</b> Implementation with grade <b>A</b>. This course is about learning all theoratical knowledge about RDBMS systems, including Data storage, indexes, quarey evaluation & optimizing, transaction management, concurrency control and crash recovery.</h6>
		<h6 style = "margin:1.5rem"><b>2019.12.23</b> - Finshed one course Foundation of Computer graphics with grade <b>A</b>. (using OpenGL and C++)</h6>
		<hr>
		<h1 style = "margin:1.5rem"><b>Projects and Codes</b></h6>
			<div class=" bg-light card"> 	
				<div class="card-body">
					{% for post in site.posts %}	
					{% if post.visible == 1  %}
						<h4 class="card-title"><a href="{{ post.url }}" class="btn btn-light p-0">{{post.date | date: "%-m/%-d/%y"}} - {{post.title}}</a></h5>
					{% endif %}
					{% endfor %}
						<!-- <h5>{{post.date | date: "%-m/%-d/%y"}}</h4> -->
				</div>
			</div>
		</div >
		<div class="col-md-2 bg-light d-none d-xl-block m-0 p-0 pt-5 mt-5" style = "margin: 0px 0px 0px 0px">
			<img src="assets/touxiang2.jpg" alt="" class= "thumbnail">
			<br>
			<br>
			<br>
			<h4 style="text-align: center"><b>Zizhun GUO</b></h4>	
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >M.S. Computer Science</h5>
			<h6 style="text-align: right; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >[expected 2020 Winter]</h6>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Contact: zg2808@rit.edu</h5>

			<div class="bg-light card mt-0 pt-0">
				<div class="card-body mt-0 pt-0">
			<h7 class="card-title">
			<br>
			<a href="https://github.com/zizhGuo" class="btn btn-light p-0">GitHub</a>
			<a href="https://www.linkedin.com/in/zizhguo/" class="btn btn-light p-0">LinkedIn</a>		
			<a href="https://www.instagram.com/zizhguo/" class="btn btn-light p-0">Instagram</a>
			<a href="https://www.zhihu.com/people/guo-wei-lian" class="btn btn-light p-0">Zhihu</a>
			<!-- <a href="https://1drv.ms/w/s!AhW5YMv5xK86wFEuGOvBY1Q3ZQ9B?e=mDd4un" class="btn btn-light p-0">Database Class Notes</a></h1>	 -->
			</h7>
			<br>
			</div>
			</div>
			<a href="https://rit.edu"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Rochester_Institute_of_Technology_seal.svg/1200px-Rochester_Institute_of_Technology_seal.svg.png" height="100" width="100"></a>
			<a href="https://www.rit.edu/computing/department-computer-science"><img src="https://www.cs.rit.edu/usr/local/pub/CS_Logos/CS_Logo_CMYK_72dpi.jpg" height="100" width="200"></a>
			<hr>
			
			<h7>More information:</h7>
				<h4> <a href=https://www.cs.rit.edu/programs/BigData" >RIT Advanced Certificate in Big Data Analytics</a></h4>
				
		</div>
