
		<div class="col-md-7 bg-light mb-0 pt-0 mt-0 pb-0 mb-0 rounded" >		
		<!-- <H1>Zizhun GUO</H1> -->

		<h6 style = "margin:1.5rem">To anyone who magically step into my website: </h6>
		<h6 style = "margin:1.5rem">"    Greeting! Welcome! "</h6>
		<h6 style = "margin:1.5rem">
			"    My name is Zizhun GUO. I'm currently a master's student studying Computer Science at Rochester Institute of Technology."</h6>

		<h6 style = "margin:1.5rem">
		"    As I used be a Game design & development student, I have been in US nearly four years. After I earned a master degree from GDD, I decided to further pursue Computer Science field, since I am craving for the professional and technical knowledge from this more challenging major. "</h6>

		<h6 style = "margin:1.5rem">"    People who know me best say that I am frank and open-minded person. I like traveling to places where I can talk to strangers and observe local cultures and conventions. I also like reading books especially essays  to gain more experiences and thoughts which give me insperiation that could help me improve myself. "</h6>

		<h6 style = "margin:1.5rem">"    Speaking to my professions, I like doing summaries once in a while with feedback to anaylyze the stage of progress. I like asking myself why I am doing this, how I am going to solve this, what the point is and as well from professors for more professional opinions. "</h6>
		<hr>
		<h6 style = "margin:1.5rem">[Updates]</h6>
		<h6 style = "margin:1.5rem">Winter break - Initiated a project utilizing the backend's techniques to create a dynamic website to enhance the understanding of database and make something fun using database: mySQL, couchDB.</h6>
		<h6 style = "margin:1.5rem">2019.12.23 - I've currently finished a course - CSCI-621 Database System Implementation with grade A. This course is about learning all theoratical knowledge about RDBMS systems, including Data storage, indexes, quarey evaluation & optimizing, transaction management, concurrency control and crash recovery.</h6>
		<h6 style = "margin:1.5rem">2019.12.23 - Finshed one course Foundation of Computer graphics with grade A. (using OpenGL and C++)</h6>
		<h6 style = "margin:1.5rem">2019.11.20 - I decide to choose pursue a advanced certificated in big data Analytics. This requires me finish Big data intro (done), Big Data Analytics (2020 Spring), and two other courses.</h6>
		<hr>
		</div >
		<div class="col-md-2 bg-light d-none d-xl-block m-0 p-0 pt-5 mt-5" style = "margin: 0px 0px 0px 0px">
			<img src="assets/touxiang.jpg" alt="" class=" thumbnail">
			<br>
			<br>
			<br>
			<h4 style="text-align: center"><b>Zizhun GUO</b></h4>	
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >M.S. Computer Science</h5>
			<h6 style="text-align: right; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >[expected 2020 Winter]</h6>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Contact: zg2808@rit.edu</h5>

			<div class="bg-light card mt-0 pt-0">
				<div class="card-body mt-0 pt-0">
			<h7 class="card-title">
			<br>
			<a href="https://github.com/zizhGuo" class="btn btn-light p-0">GitHub</a>		
			<a href="https://www.instagram.com/zizhguo/" class="btn btn-light p-0">Instagram</a>
			<a href="https://www.zhihu.com/people/guo-wei-lian" class="btn btn-light p-0">Zhihu</a>
			<!-- <a href="https://1drv.ms/w/s!AhW5YMv5xK86wFEuGOvBY1Q3ZQ9B?e=mDd4un" class="btn btn-light p-0">Database Class Notes</a></h1>	 -->
			</h7>
			<br>
			</div>
			</div>
			<a href="https://rit.edu"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Rochester_Institute_of_Technology_seal.svg/1200px-Rochester_Institute_of_Technology_seal.svg.png" height="100" width="100"></a>
			<a href="https://www.rit.edu/computing/department-computer-science"><img src="https://www.cs.rit.edu/usr/local/pub/CS_Logos/CS_Logo_CMYK_72dpi.jpg" height="100" width="200"></a>
			<hr>
				
		</div>
