<div class="row px-0 justify-content-start" id="post-div">
	<div class="col-md-2 d-none d-xl-block justify-content-end mb-4 pt-5">
	</div>
	{% if page.title == "Home" %}			
	<div class="col-sm-2 pt-5 bg-white">
		<a href="#" class="btn btn-light p-0 active">POSTS</a>
	</div>
	{% else %}
	<div class="col-sm-2 pt-5 bg-white">
		<a href="./index.html" class="btn btn-light p-0">POSTS</a>
	</div>
	{% endif %}

	{% if page.title == "Thoughts" %}			
	<div class="col-sm-2 pt-sm-5 bg-white">
		<a href="#" class="btn btn-light p-0 active">THOUGHTS</a>
	</div>
	{% else %}
	<div class="col-sm-2 pt-sm-5 bg-white">
		<a href="./thoughts.html" class="btn btn-light p-0">THOUGHTS</a>
	</div>
	{% endif %}

	{% if page.title == "Moments" %}			
	<div class="col-sm-2 pt-sm-5 bg-white">
		<a href="#" class="btn btn-light p-0 active">MOMENTS</a>
	</div>
	{% else %}
	<div class="col-sm-2 pt-sm-5 bg-white">
		<a href="./moments.html" class="btn btn-light p-0">MOMENTS</a>
	</div>
	{% endif %}
	
</div>