<div class="row px-0 justify-content-end" id="post-div">

	{% if page.title == "Home" %}			
	<div class="col-sm-3 col-md-2 pt-5 bg-white hometitle" id="left-navtag">
		<a href="#" class="btn p-0 active">ARTICLES 文章</a>
	</div>
	{% else %}
	<div class="col-sm-3 col-md-2 pt-5 bg-white hometitle" id="left-navtag">
		<a href="./index.html" class="btn p-0">ARTICLES 文章</a>
	</div>
	{% endif %}

	{% if page.title == "Projects" %}			
	<div class="col-sm-3 col-md-2 pt-sm-5 bg-white hometitle" id="left-navtag">
		<a href="#" class="btn p-0 active ">PROJECTS 工程</a>
	</div>
	{% else %}
	<div class="col-sm-3 col-md-2 pt-sm-5 bg-white hometitle" id="left-navtag">
		<a href="./projects.html" class="btn p-0 ">PROJECTS 工程</a>
	</div>
	{% endif %}

	{% if page.title == "Experiences" %}			
	<div class="col-sm-3 col-md-2 pt-sm-5 bg-white hometitle" id="left-navtag">
		<a href="#" class="btn p-0 active ">EXPERIENCES 经历</a>
	</div>
	{% else %}
	<div class="col-sm-3 col-md-2 pt-sm-5 bg-white hometitle" id="left-navtag">
		<a href="./experiences.html" class="btn p-0">EXPERIENCES 经历</a>
	</div>
	{% endif %}
	<div class="col-sm-3 col-md-1 col-xl-2 justify-content-end mb-4 pt-5">
	</div>
	<!-- d-none d-sm-block -->
</div>