---
layout: default
---

<!-- {% include background.html %} -->
<div class= "container-fluid d-none d-md-block" >
	<div class="d-flex flex-row justify-content-start align-items-start">
		<img id="sidebar-pic" src="assets/img-bg/chengdu3.jpg" alt="">
	</div>
</div>
<section class="container-fluid border mx-1" id="post-container">
	<div class="row px-0 justify-content-end" id="post-div">
        <div class="col-md-8 bg-light mb-0 pt-0 mt-0 pb-0 mb-0 rounded" >
			<p>
				I ain't 50 I don't have 21 questions<br>
					我只想和你<br>
					在沙滩散步享受 vacation<br>
					加州的天气<br>
					是否像你的笑容般甜蜜<br>
					我带上面具<br>
					假装你不在我依然开心<br>
					Uh ha uh<br>
					暴风雨来临 电闪又雷鸣<br>
					争强好胜的我可惜这一局没赢<br>
					暴风雨来临 电闪又雷鸣<br>
					对你的爱<br>
					就像雨下了<br>
					一夜未停		

			</p>
			<iframe width="1120" height="630" src="https://www.youtube.com/embed/Ter5MY9Flcw?start=6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<br>
			<!-- <img id="sidebar-pic" src="assets/img-bg/girl.jpg" alt=""> -->
			
			<!-- <h1 style = "margin:1.5rem"><b>POSTS</b></h6>		 -->
            <!-- <h4 style="text-align: center"><b>Zizhun Guo</b></h4>	
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Rochester Institute of Technology</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >M.S. Computer Science</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Expected May 2021</h6>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >____________________</h6>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >zizhunguo@gmail.edu</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Rochester, NY 14623</h5> -->
        </div >	
	</div>
</section>