---
layout: default
---

{% include background.html %}
<section class="container-fluid border mx-1" id="post-container">
	<div class="row px-0 justify-content-end" id="post-div">
        <div class="col-md-8 bg-light mb-0 pt-0 mt-0 pb-0 mb-0 rounded" >
			<!-- <h1 style = "margin:1.5rem"><b>POSTS</b></h6>		 -->
            <!-- <h4 style="text-align: center"><b>Zizhun Guo</b></h4>	
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Rochester Institute of Technology</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >M.S. Computer Science</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Expected May 2021</h6>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >____________________</h6>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >zizhunguo@gmail.edu</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Rochester, NY 14623</h5> -->
        </div >	
	</div>
</section>