---
layout: default
---

<!-- {% include background.html %} -->
<!-- <div class= "container-fluid d-none d-md-block" >
	<div class="d-flex flex-row justify-content-start align-items-start">
		<img id="sidebar-pic" src="assets/img-bg/skyblue.jpeg" alt="">
	</div>
</div> -->


<section class="container-fluid border mx-1" id="post-container">
	<h2 style = "margin:3rem"><b></b></h2>	
	<div  style = "margin: 0px 0px 0px 0px">
		<!-- <div style="text-align: center;"> -->
			<!-- <img src="assets/touxiang6.jpg" alt="" class= "thumbnail"> -->
			<!-- <img src="https://fastly.jsdelivr.net/gh/zizhguo/zizhguo.github.io/assets/touxiang6.jpg" alt="" class= "thumbnail"> -->
		<!-- </div> -->
		<div style="text-align: center;">
		<img src="https://img-bed-1317278737.cos.ap-shanghai.myqcloud.com/about/IMG_9927_2.jpeg" alt="drawing" style="width: 40%;" class= "thumbnail"/>
		<figcaption> </figcaption>
		</div>
		<br>

		<h4 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;"><b>郭子谆</b></h4>
		<h4 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;"><b>Zizhun Guo</b></h4>	
		<br>
		<!-- <h5 style = "text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;"><b>微信号</b></h5>
		<h5 style = "text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;"><b>william-awesome</b></h5>
		<div style="text-align: center;">
			<img src="{{site.url}}/assets/wechat2.jpg" alt="drawing" style="width: 60%;  padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;"/>
		</div> -->
		<!-- <br> -->
		
		<div style="text-align: center;" class="bg-light card mt-0 pt-0">
			<div class="card-body mt-0 pt-0">
				<h7 class="card-title">
				<br>
				<!-- <a href="{{site.url}}/assets/wechat.jpg" class="btn btn-primary p-1">微信</a> -->
				<a href="https://github.com/zizhGuo" class="btn btn-primary p-0">GitHub</a>
				<a href="https://www.linkedin.com/in/zizhguo/" class="btn btn-primary p-0">LinkedIn</a>
				<!-- <h5 style = "margin:1.5rem"><b>工作事宜，请加我微信并备注单位姓名</b></h5> -->
				
				<!-- <a href="https://www.instagram.com/zizhguo_/" class="btn btn-primary p-0">Instagram</a> -->
				<!-- <a href="https://1drv.ms/w/s!AhW5YMv5xK86wFEuGOvBY1Q3ZQ9B?e=mDd4un" class="btn btn-light p-0">Database Class Notes</a></h1>	 -->
				</h7>
				<br>
			</div>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Rochester Institute of Technology</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >罗切斯特理工大学</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >M.S. Computer Science</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >计算机科学硕士</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >2018 - May 2021</h6>			
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >M.S. Game Design & Development</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >游戏与开发硕士</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >2016 - Aug 2018</h5>
			<!-- <h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >____________________</h6> -->
			<br>
			
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" ><a href = "mailto: zizhunguo@gmail.com">zizhunguo@gmail.com</a></h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >1 Lomb Memorial Dr</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Rochester, NY 14623</h5>
			<a style="text-align: center;"href="https://rit.edu"><img src="https://img-bed-1317278737.cos.ap-shanghai.myqcloud.com/about/rit.png" height="200" width="200"></a>
			<a style="text-align: center;"href="https://www.rit.edu/computing/department-computer-science"><img src="https://www.cs.rit.edu/usr/local/pub/CS_Logos/CS_Logo_CMYK_72dpi.jpg" height="125" width="250"></a>
		</div>
		<br>
		<br>
		<br>
		<br>
		<!-- <br> -->
		<!-- <br> -->
		<!-- <img src="assets/touxiang1.heic" alt="" class= "thumbnail">		 -->
		<!-- <img src="assets/touxiang5.jpg" alt="" class= "thumbnail">		 -->
		<!-- <img src="assets/touxiang2.jpg" alt="" class= "thumbnail">		 -->
		<!-- <img src="assets/touxiang3.jpg" alt="" class= "thumbnail">		 -->
		<!-- <img src="assets/touxiang4.jpg" alt="" class= "thumbnail">		 -->
		<!-- <img src="assets/img-bg/caotang1.jpg" alt="" class= "thumbnail">		 -->
	</div>


	<!-- <iframe src="//player.bilibili.com/player.html?aid=397053827&bvid=BV1Ao4y1p7UK&cid=1082546618&p=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe> -->


	<div class="row px-0 justify-content-end" id="post-div">
        <div class="col-md-12 bg-light mb-0 pt-0 mt-0 pb-0 mb-0 rounded" >
			
			<!-- <h5 style="text-align: left; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Photograph: 成都市红瓦寺街景点 鸳鸯楼 Yuanyang Lou, Hongwa St, Chengdu</h6>
				<br>
				<h5 style="text-align: left; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Originally  the Faculty Dorms for Sichuan University back in 1970</h6>
				<h5 style="text-align: left; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Now a popular cultural photograph attraction</h6>
				 -->
					<br><br><br>
					<div style="text-align: center;">
						<img src="https://img-bed-1317278737.cos.ap-shanghai.myqcloud.com/about/IMG_4513.jpeg" alt="drawing" style="width: 55%;"/>
						<figcaption> 十七孔桥 - 北京 Beijing</figcaption>
					</div>
					<br>
					<div style="text-align: center;">
						<img src="https://img-bed-1317278737.cos.ap-shanghai.myqcloud.com/about/IMG_6990.jpeg" alt="drawing" style="width: 55%;"/>
						<figcaption> 东灵山 Dongling Mount - 北京Beijing 最高山峰</figcaption>
					</div>
					<!-- <img src="assets/img-gallery/IMG_6283 1 conv.jpeg" class="img-fluid" alt="Responsive image"> -->
					<br>
					<br>
					
					<div style="text-align: center;">
						<img src="https://img-bed-1317278737.cos.ap-shanghai.myqcloud.com/about/IMG_1188.jpeg" alt="drawing" style="width: 44%;"/>
						<figcaption> Penn Station 宾夕法尼亚火车站- 纽约市 NYC</figcaption>
					</div>
					<br>

					<div style="text-align: center;">
						<img src="https://img-bed-1317278737.cos.ap-shanghai.myqcloud.com/about/IMG_5267.jpeg" alt="drawing" style="width: 44%;"/>
						<figcaption> Time Square in the rain 雨中的时报广场- 纽约市 NYC站- 纽约市 NYC</figcaption>
					</div>
					<br>

					<div style="text-align: center;">
						<img src="https://img-bed-1317278737.cos.ap-shanghai.myqcloud.com/about/IMG_9610.jpeg" alt="drawing" style="width: 55%;"/>
						<figcaption> RIT 罗切斯特理工大学 global village 全球村- Henrietta 亨丽埃塔</figcaption>
					</div>
					<br>

					<div style="text-align: center;">
						<img src="https://img-bed-1317278737.cos.ap-shanghai.myqcloud.com/about/IMG_2946.jpeg" alt="drawing" style="width: 55%;"/>
						<figcaption> Some friends met while traveling in DC - 一些在华盛顿DC旅行中认识的朋友</figcaption>
					</div>
					<br>

					<br>
					<br>
				<br>
				<br>
				<br>
				<br>
				<!-- <img src="assets/img-gallery/IMG_5720 1 conv.jpeg" alt="" >
				<br>
				<br>
				<br>
				<img src="assets/img-gallery/IMG_5724 1 conv.jpeg" alt="" >
				<br>
				<br>
				<h5 style="text-align: left; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >三峡的美是那种你无法用文字表达的美，因为你在凝视她的时候，你已经忘记开口说话了</h6>
					<br>
					<br>
					<br>
					<br>
				<img src="assets/img-gallery/IMG_6283 1 conv.jpeg" alt="" > -->
			<!-- <div class="d-flex flex-row justify-content-start align-items-start">
				
				width="1060" height="315" -->
			<!-- </div> --> 
			<!-- <p>
				I ain't 50 I don't have 21 questions<br>
					我只想和你<br>
					在沙滩散步享受 vacation<br>
					加州的天气<br>
					是否像你的笑容般甜蜜<br>
					我带上面具<br>
					假装你不在我依然开心<br>
					Uh ha uh<br>
					暴风雨来临 电闪又雷鸣<br>
					争强好胜的我可惜这一局没赢<br>
					暴风雨来临 电闪又雷鸣<br>
					对你的爱<br>
					就像雨下了<br>
					一夜未停		

			</p>
	
			<br>
			<p>
				You're so sweet 不同颜色的糖 不同水果味<br>
				You are purple, yellow, pink, blue, orange or green<br>
				I don't wanna be your friend<br>
				不能只是be your friend<br>
				当你感到困惑时 我说让月亮去作证<br>
				什么事都不做 和你躺着all day<br>
				你是天使 你是公主 是偷心的魔鬼<br>
				我在高速行驶的列车上快要脱轨<br>
				爱你使我失去理智冲下悬崖坠毁<br>
				突然 乌云 风暴 覆盖了所有通道<br>
				我没有带伞 也没有收看天气预报<br>
				Paris, Tokyo 你定了哪张机票<br>
				我漫无目的散步在没有人的街道<br>
			</p>

			<br>

			<p>
				暴风雨来临 电闪又雷鸣 争强好胜的我可惜这一局没赢<br>
				暴风雨来临 电闪又雷鸣 对你的爱就像雨下了一夜未停<br>
				I don't want nobody else but you<br>
				I can't have nobody else but you girl<br>
			</p>
			<img id="sidebar-pic" src="assets/img-bg/girl.jpg" alt=""> -->
			
			<!-- <h1 style = "margin:1.5rem"><b>POSTS</b></h6>		 -->
            <!-- <h4 style="text-align: center"><b>Zizhun Guo</b></h4>	
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Rochester Institute of Technology</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >M.S. Computer Science</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Expected May 2021</h6>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >____________________</h6>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >zizhunguo@gmail.edu</h5>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Rochester, NY 14623</h5> -->
		</div >
		<!-- <div class="col-md-1 bg-light d-none d-xl-block m-0 p-0 pt-5 mt-5" style = "margin: 0px 0px 0px 0px"> -->
			<!-- <br><br><br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Ter5MY9Flcw?start=6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<br>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" >Storm 暴风雨 - Masiwei 马思唯</h6>
			<h5 style="text-align: center; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;" ></h6> -->
		<!-- </div> -->
		<!-- <div class= "col-md-3 container-fluid d-none d-md-block" >
			
		</div> -->
	</div>
</section>