---
layout: default
---
{% include navtags.html %}
<div class="row px-0 " id="post-div">
	<div class="col-md-2 d-none d-xl-block justify-content-end p-0 mb-4 ">
	</div>

	<div class="col-md-6 bg-white mb-0 pt-3 pt-5" >
		{% for post in site.posts %}	
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"><a href="{{ post.url }}" class="btn btn-light p-0">{{post.title}}</a></h5>
					<!-- <h5 class="card-title">First Thing</h5> -->
<!-- 					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
						Veniam, dolorum facere?
					Commodi, ut. Et, itaque quam!</p> -->
				</div>
			</div>
		<!-- <h1>{{post.title}}</h1> -->
		{% endfor%}

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
				</h5>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
					Veniam, dolorum facere?
				Commodi, ut. Et, itaque quam!</p>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
				</h5>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
					Veniam, dolorum facere?
				Commodi, ut. Et, itaque quam!</p>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
				</h5>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
					Veniam, dolorum facere?
				Commodi, ut. Et, itaque quam!</p>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
				</h5>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
					Veniam, dolorum facere?
				Commodi, ut. Et, itaque quam!</p>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
				</h5>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
					Veniam, dolorum facere?
				Commodi, ut. Et, itaque quam!</p>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
				</h5>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
					Veniam, dolorum facere?
				Commodi, ut. Et, itaque quam!</p>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
				</h5>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
					Veniam, dolorum facere?
				Commodi, ut. Et, itaque quam!</p>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
				</h5>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
					Veniam, dolorum facere?
				Commodi, ut. Et, itaque quam!</p>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
				</h5>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
					Veniam, dolorum facere?
				Commodi, ut. Et, itaque quam!</p>
			</div>
		</div>
	</div>

</div>